img{
    width: 100px;
}
.photo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    padding: 5px;
}

.photomain{
    margin: 10px;

}