.header {
    min-height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header button {
    font-size: 40px;
}

.outlet {
    /*margin: 10px;*/
    background: antiquewhite;
    /*display: flex;*/
}
