.main {
    display: flex;
}

.users {
    width: 45%;
    font-size: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.outlet {
    width: 60%;
    margin: 10px;
    font-size: 18px;
}