.mainx {
    display: flex;
    flex-wrap: wrap;
}

.episodepage {
    /*width: 45%;*/
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.oneepisode{
    width: 20%;
}
/*.outlet {*/
/*    width: 60%;*/
/*    margin: 10px;*/
/*    font-size: 18px;*/
/*}*/